In [1]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\hakemi\anaconda3\lib\site-packages (1.5.16)
Requirement already satisfied: six>=1.10 in c:\users\hakemi\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\hakemi\anaconda3\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\hakemi\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\hakemi\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\hakemi\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\hakemi\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\hakemi\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\hakemi\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\hakemi\appdata\roaming\python\python311\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\hakemi\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\hakemi\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hakemi\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hakemi\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\hakemi\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

from google.colab import drive
drive.mount('/gdrive')

# Arithmetic and Variables

In [1]:
print("Hello, word")

Hello, word

In [2]:
print (1+2)

3

In [3]:
print (9-5)

4

In [4]:
print (((1+3)*(9-2)/2)**2)

196.0

In [5]:
#Multiply 3 by 2
print(3*2)

6

In [7]:
#creat a vriable called test_var and 9 ive it a value of 4+5
test_var = 4 + 5

#print the value of test_var
print(test_var)

9

In [8]:
# set the value of a new variable to 3
my_var = 3

#print the value assigned to my_var
print (my_var)

#change the value of the variable to 100
my_var = 100

#print the new value assigned to my_var
print (my_var)

3
100

In [9]:
print(my_var)
print(test_var)

100
9

In [10]:
#Increase the value by 3
my_var = my_var + 3

#print the value assigned to my_var
print (my_var)

103

In [11]:
#create variables
num_years = 4
days_per_years = 365
hours_per_day = 24
mins_per_hours = 60
secs_per_min = 60

# calculate number of seconds in four yeaars
total_secs = secs_per_min * mins_per_hours * hours_per_day * days_per_years * num_years
print (total_secs)

126144000

In [12]:
#Update to include leap years
days_per_years = 365.25

# calculate number of seconds in four yeaars
total_secs = secs_per_min * mins_per_hours * hours_per_day * days_per_years * num_years
print (total_secs)

126230400.0

In [14]:
print(hours_per_day)

24

# Exercise: Arithmetic and Variables

In [15]:
print("Good morning!")

Good morning!

In [16]:
print("I am learning how to code :D")

I am learning how to code :D

In [17]:
print ("3+4")

3+4

In [18]:
# TODO: Change the message
print("Iam happy. I am learning how to code :D")

# DO NOT REMOVE: Mark this question as completed

Iam happy. I am learning how to code :D

In [20]:
# Create variables
num_years = 4
days_per_year = 365
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60
secs_per_year=num_years*days_per_year*hours_per_day*mins_per_hour*secs_per_min
print("the seconds per 4 years is",secs_per_year)
# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

the seconds per 4 years is 126144000
126144000

In [21]:
births_per_min = 250

births_per_day = mins_per_hour*hours_per_day*births_per_min
print(births_per_day)

360000

In [24]:
import pandas as pd
titanic_data = pd.read_csv("C:/Users/Hakemi/titanic_data.csv")

# Show the first five rows of the data
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
# Number of total passengers
total = len(titanic_data)
print(total)

# Number of passengers who survived
survived = (titanic_data.Survived == 1).sum()
print(survived)
# Number of passengers under 18
minors = (titanic_data.Age < 18).sum()
print(minors)

891
342
113

In [26]:
# Fill in the value of the survived_fraction variable
survived_fraction = survived/total

# Print the value of the variable
print(survived_fraction)

# Fill in the value of the minors_fraction variable
minors_fraction =minors/total

# Print the value of the variable
print(minors_fraction)

0.3838383838383838
0.12682379349046016